<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>naver smart eidtor</title>
</head>
<body>
<h3>naver smart editor</h3>
<textarea name="text" id="ir1" rows="10" cols="100">에디터에 기본으로 삽입할 글(수정 모드)이 없다면 이 value 값을 지정하지 않으시면 됩니다.</textarea>
<br/>
<button id="editor-submit" type="button">저장</button>

<script type="text/javascript" src="/se2/js/service/HuskyEZCreator.js" charset="utf-8"></script>
<script>
    const oEditors = [];
    nhn.husky.EZCreator.createInIFrame({
        oAppRef: oEditors,
        elPlaceHolder: "ir1",
        sSkinURI: "/se2/SmartEditor2Skin.html",
        fCreator: "createSEditor2"
    });

    document.getElementById("editor-submit").onclick = () => {
        oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);

        const form = new FormData();
        form.append("text", document.getElementById("ir1").value);

        const request = new XMLHttpRequest();
        request.open("POST", "/naver-smart-editor");
        request.send(form);
    }
</script>
</body>
</html>