<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
</head>
<body>
<h3>Toast UI Editor</h3>
<div id="editor"></div>
<br/>
<button id="editor-submit" type="button">저장</button>

<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    const Editor = toastui.Editor;
    const editor = new Editor({
        el: document.querySelector('#editor'),
        height: '600px',
        initialEditType: 'markdown',
        previewStyle: 'vertical'
    });

    document.getElementById("editor-submit").onclick = () => {
        const text = editor.getHTML();

        const form = new FormData();
        form.append("text", text);

        const request = new XMLHttpRequest();
        request.open("POST", "/toast-ui-editor");
        request.send(form);
    }
</script>
</body>
</html>